{
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "php://stderr"
    },
    "mutators": {
        "@default": true
    },
    "minMsi": 50,
    "minCoveredMsi": 50
}